body{margin: 0; padding: 0;}
#main_area {
	width: 800px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
#main_title {
	width: 800px;
	font-size: 36px;
	background-color: #342328;
	text-align: center;
	color: #FFF;
}
#control_area {
	width: 800px;
	height: 30px;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}
.people_area {
	width: 50px;
}
#boy_area {
	background-color: blue;
	float: left;
}
#girl_area {
	background-color: pink;
	float: right;
}

.boy{
	width: 50px;
	height: 50px;
	border-radius:50px; 
	line-height: 50px;
	text-align: center;
	background-color: green;
	margin-bottom: 1px;
}
.cancel_boy{
	width: 50px;
	height: 50px;
	color: #FFF;
	border-radius:50px; 
	line-height: 50px;
	text-align: center;
	margin-left: 300px;
	transition:all 3s;
}
.girl {
	width: 50px;
	height: 50px;
	border-radius:50px; 
	line-height: 50px;
	text-align: center;
	background-color: orange;
	margin-bottom: 1px;
	display: block;
}
.cancel_girl{
	width: 50px;
	height: 50px;
	color: #FFF;
	border-radius:50px; 
	line-height: 50px;
	text-align: center;
	margin-left: -300px;
	transition:all 3s;
}